<html>
  <head>
    <title>Slava: Help</title>
    <%= partial 'public/partials/_head.html.erb' %>
  </head>
  <body>
    <p class='icon'>
      <a href='/'><img src='img/icon.png'></a>
    </p>
    <p>
      <h1>Slava: Help</h1>
    </p>
    <p>
      This bot is powered by Strava and posts your Strava activities to Slack. It can also unfurl Strava URLs.
      It is not made by, nor is officially affiliated with <a target="_blank" href="https://www.strava.com">Strava</a>.
    </p>
    <p>&nbsp;</p>
    <p>
      Invite <b>@slava</b> to a channel.
    </p>
    <p>
      <img src='img/welcome.png'>
    </p>
    <p>
      When a user joins a channel, they are prompted to connect their Strava account.
    </p>
    <p>
      <img src='img/joined.png'>
    </p>
    <p>
      Users can also DM "<b>connect</b>" to <b>@slava</b> or use <b>/slava connect</b> to connect their Strava account.
    </p>
    <p>
      <img src='img/connect.png'>
    </p>
    <p>
      Notifications will be posted to any channel <b>@slava</b> is a member of.
    </p>
    <p class='image'>
      <img src='img/notify.png'>
    </p>
    <p>
      Slava can also monitor club activities with <b>/slava clubs</b>.
    </p>
    <p>
      Click <b>connect</b> to connect a club and <b>disconnect</b> to disconnect it.
    </p>
    <p>
      <img src='img/clubs.png'>
    </p>
    <p>
      The channel will be notified that a new club has been connected or disconnected.
    </p>
    <p>
      <img src='img/connected.png'>
    </p>
    <p>
      Notifications will be posted to the channel in which the club was connected.
    </p>
    <p>
      <img src='img/volcano.png'>
    </p>
    <p>
      Users can DM "<b>disconnect</b>" to <b>@slava</b> or use <b>/slava disconnect</b> to disconnect their Strava account.
    </p>
    <p>
      <img src='img/disconnect.png'>
    </p>
    <p>
      DM "<b>stats</b>" to <b>@slava</b> or use <b>/slava stats</b> to see aggregate team and club activity stats in the current channel for the past 30 days.
    </p>
    <p>
      <img src='img/stats.png'>
    </p>
    <p>
      DM "<b>leaderboard</b>" to <b>@slava</b> or use <b>/slava leaderboard</b> to see team activity leaderboard.
      Try <b>leaderboard distance</b>, <b>leaderboard time</b> or <b>leaderboard count</b>.
      Leaderboard supports longer timeframes which may require adjusting <b>retention</b>.
      Try <b>leaderboard last week</b>, or <b>leaderboard elapsed time last month</b>.
      Leaderboard also understands <b>since 2024</b> or <b>between January and March</b>.
    </p>
    <p>
      DM "<b>set</b>" to <b>@slava</b> to see current settings.
    </p>
    <p>
      Slava retains activities for 30 days. Try <b>set retention 60 days</b> or <b>set retention 3 months</b> to change this.
    </p>
    <p>
      You can change <b>units</b> with <b>set units imperial</b> (miles, feet, yards, and degrees Fahrenheit, default),
      <b>set units metric</b> (kilometers, meters, and degrees Celsius), or <b>set units both</b> to display both values.
    </p>
    <p>
      You can change displayed fields with <b>set fields</b>, eg. <b>set fields default</b>, <b>set fields all</b> or <b>set fields none</b>.
      Available fields are <%= ActivityFields.values.and { |v| '<b>' + v + '</b>' } %>.
    </p>
    <p>
      Turn maps off with <b>set maps off</b>, display thumbnails with <b>set maps thumb</b> and full maps with <b>set maps full</b> (default).
    </p>
    <p>
      Set the default leaderboard with <b>set leaderboard</b>.
    </p>
    <p>
      Stop syncing activities with <b>set sync false</b> and resume with <b>set sync true</b> (default).
      Publish private (only you) activities with <b>set private true</b> or hide them with <b>set private false</b> (default).
      Publish followers only activities with <b>set followers true</b> (default) or hide them with <b>set followers false</b>.
    </p>
    <p>
      Paste a link to a registered user's activity into Slack to unfurl it.
    </p>
    <p>
      DM <b>help</b> to <b>@slava</b> for more commands and options.
    </p>
    <%= partial 'public/partials/_footer.html.erb' %>
  </body>
</html>

