<html>
  <head>
    <title>Slava: Help</title>
    <%= partial 'public/partials/_head.html.erb' %>
  </head>
  <body>
    <p class='icon'>
      <a href='/'><img src='img/icon.png'></a>
    </p>
    <p>
      <h1>Slava: Help</h1>
    </p>
    <p>
      This bot is powered by Strava and posts your Strava activities to Slack.
      It is not made by, nor is officially affiliated with <a target="_blank" href="https://www.strava.com">Strava</a>.
    </p>
    <p>&nbsp;</p>
    <p>
      Invite <b>@slava</b> to a channel.
    </p>
    <p>
      <img src='img/welcome.png'>
    </p>
    <p>
      When a user joins a channel, they are prompted to connect their Strava account.
    </p>
    <p>
      <img src='img/joined.png'>
    </p>
    <p>
      Users can also DM "<b>connect</b>" to <b>@slava</b> or use <b>/slava connect</b> to connect their Strava account.
    </p>
    <p>
      <img src='img/connect.png'>
    </p>
    <p>
      Notifications will be posted to any channel <b>@slava</b> is a member of.
    </p>
    <p class='image'>
      <img src='img/notify.png'>
    </p>
    <p>
      Slava can also monitor club activities with <b>/slava clubs</b>.
    </p>
    <p>
      Click <b>connect</b> to connect a club and <b>disconnect</b> to disconnect it.
    </p>
    <p>
      <img src='img/clubs.png'>
    </p>
    <p>
      The channel will be notified that a new club has been connected or disconnected.
    </p>
    <p>
      <img src='img/connected.png'>
    </p>
    <p>
      Notifications will be posted to the channel in which the club was connected.
    </p>
    <p>
      <img src='img/volcano.png'>
    </p>
    <p>
      Users can DM "<b>disconnect</b>" to <b>@slava</b> or use <b>/slava disconnect</b> to disconnect their Strava account.
    </p>
    <p>
      <img src='img/disconnect.png'>
    </p>
    <p>
      DM "<b>set</b>" to <b>@slava</b> to see current settings.
    </p>
    <p>
      You can change <b>units</b> with <b>set units mi</b> (default) or <b>set units km</b>.
    </p>
    <p>
      You can change displayed fields with <b>set fields</b>, eg. <b>set fields all</b> (default), <b>set fields none</b>.
      <br>Choose from available fields with <b>set fields Type, Distance, Time, Moving Time, Elapsed Time, Pace, Speed, Elevation</b>.
    </p>
    <p>
      Turn maps off with <b>set maps off</b>, display thumbnails with <b>set maps thumb</b> and full maps with <b>set maps full</b> (default).
    </p>
    <p>
      Stop syncing activities with <b>set sync false</b> and resume with <b>set sync true</b> (default).
      Publish private activities with <b>set private true</b> or hide them with <b>set private false</b> (default).
    </p>
    <p>
      DM <b>help</b> to <b>@slava</b> for more commands and options.
    </p>
    <%= partial 'public/partials/_footer.html.erb' %>
  </body>
</html>

