<html>
  <head>
    <title>Slava: Help</title>
    <%= partial 'public/partials/_head.html.erb' %>
  </head>
  <body>
    <p class='icon'>
      <a href='/'><img src='img/icon.png'></a>
    </p>
    <p>
      <h1>Slava: Help</h1>
    </p>
    <p>
      This bot is powered by Strava and posts your Strava activities to Slack.
      It is not made by, nor is officially affiliated with <a target="_blank" href="https://www.strava.com">Strava</a>.
    </p>
    <p>&nbsp;</p>
    <p>
      Invite <b>@slava</b> to a channel.
    </p>
    <p class='image'>
      <img src='img/joined.png'>
    </p>
    <p>
      DM "<b>connect</b>" to <b>@slava</b> to connect your account.
    </p>
    <p class='image'>
      <img src='img/connect.png'>
    </p>
    <p>
      Notifications will be posted to any channel <b>@slava</b> is a member of.
    </p>
    <p class='image'>
      <img src='img/notify.png'>
    </p>
    <p>
      DM <b>help</b> to <b>@slava</b> for more commands and options.
    </p>
    <%= partial 'public/partials/_footer.html.erb' %>
  </body>
</html>

