<html>
 <head>
  <title>Slava: Strava integration with Slack</title>
  <%= partial 'public/partials/_head.html.erb' %>
  <script src="/scripts/register.js"></script>
  <script src="/scripts/status.js"></script>
  <meta name="slack-app-id" content="A9XS1443S">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="description" content="Connects Strava in Slack and reposts athlete and club activities into Slack channels, including time, distance, pace and map."/>
 </head>
 <body>
  <p class='icon'>
    <a href="/"><img src='img/icon.png'></a>
  </p>
  <p>
    <h1>Slava: Strava integration with Slack</h1>
  </p>
  <p>
    Connects Strava in Slack and reposts athlete and club activities into Slack channels, including time, distance, pace and map.
  </p>
  <p>&nbsp;</p>
  <p id='messages' />
  <p id='register'>
    <a href="https://slack.com/oauth/authorize?scope=<%= ENV['SLACK_OAUTH_SCOPE'] %>&client_id=<%= ENV['SLACK_CLIENT_ID'] %>"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x"></a>
  </p>
  <p>&nbsp;</p>
  <p class='image'>
    <img src='img/notify.png'>
  </p>
  <p>
    <small>
      Free 2 week trial, no credit card required. Subscribe for $9.99/yr.
      <br>
      All proceeds go to <a href="https://www.nyrr.org/" target="_blank">nyrr.org</a>.
    </small>
  </p>
  <p class='logo'>
    <a href="https://www.nyrr.org"><img src='img/nyrr.png'></a>
  </p>
  <p class='logo'>
    <img src='img/powered.png'>
  </p>
  <p>
    <small>
      (not officially affiliated with <a target="_blank" href="https://www.strava.com">Strava</a>)
    </small>
  </p>
  <%= partial 'public/partials/_footer.html.erb' %>
 </body>
</html>

