<!doctype html>
<html lang="en">

<head>
  <title>Slava: Privacy Policy</title>
  <%= partial 'public/partials/_head.html.erb' %>
</head>

<body style="text-align: center">
  <p style="margin: 50px;">
    <a href='/'><img src='img/icon.png' width="120px"></a>
  </p>
  <p>
    <h1>Slava: Privacy Policy</h1>
  </p>
  <div style='text-align: left'>
    <h3>tl;dr</h3>
    <p>
      Slava does not want to know who you are and tries to collect just enough data to enable our services.
    </p>
    <h3>1 - Definition and Nature of Personal Data</h3>
    <p>
      During your use of the services that can be accessed on the Website
      <%= SlackRubyBotServer::Service.url %> (hereinafter referred to as the "Website"), including our bots for Slack (hereinafter referred to as the "Bots"), we do not require you to provide us with any personal data, however we may collect data that indirectly allows us to identify you. Therefore, the term "personal data" means any data that enables a person to be identified, which corresponds in particular to your family name, first name, photograph, postal address, email address, telephone numbers, date of birth, data relating to your transactions on the Website, detail of your orders and subscriptions, bank card number, messages, as well as any other information about you that you choose to provide us with.
    </p>
    <h3>2 - Types of Data We Collect</h3>
    <p>
      We collect details on your activities from Strava, with your permission.
      We do not collect other personal information from users, but we do collect data that may indirectly identify you.
    </p>
    <h4>2.1 - Information Collected About Your Team from Slack</h4>
    <p>
      We collect the team's Slack ID, Team Name and Domain upon registration.
    </p>
    <h4>2.2 - Information Collected About You from Slack</h4>
    <p>
      We do not collect any information about you from Slack.
    </p>
    <h4>2.3 - Information You or Strava Provides to Us</h4>
    <p>
      We collect details on your activities from Strava with your permission, including the location information of your activities. We store this information for 30 days in the live database and retain it daily in backups.
    </p>
    <p>
      We may collect personal information from you, such as your first and last name, e-mail or Twitter handle if you provide us feedback or contact us. We will collect your name and e-mail address, as well as any other content included in the e-mail, to send you a reply.
    </p>
    <h4>2.4 - Information Collected from Slack Messages</h4>
    <p>
      We require you to communicate with Bots through Instant Messaging (Slack). This requires special care on our side, and a more restrictive privacy measures: We do not collect or keep information from incoming conversations, and we do not process messages transmitted, except for messages related to the explicit usage of the service. We do not monitor team channels.
    </p>
    <h4>2.5 - Information Collected via Technology</h4>
    <h5>Logs</h5>
    <p>
      As is true of most websites, we gather certain information automatically and store it in logs. This information includes IP addresses, browser type, Internet service provider ("ISP"), referring/exit pages, operating system, date/time stamp, and clickstream data. We use this information to analyze trends, administer the Site, track users' movements around the Site, gather demographic information about our user base and better tailor our Services to our users' needs. For example, some of the information may be collected so that when you visit the Site or the Services again, it will recognize you and the information could then be used to serve advertisements and other information appropriate to your interests. Except as noted in this Privacy Policy, we do not link this automatically collected data to personal information.
    </p>
    <h5>Cookies</h5>
    <p>
      Like many online services, we use cookies to collect information. "Cookies" are small pieces of information that a website sends to your computer's hard drive while you are viewing the website. We may use both session Cookies (which expire once you close your web browser) and persistent Cookies (which stay on your computer until you delete them) to provide you with a more personal and interactive experience on our Service. This type of information is collected to make the Service more useful to you and to tailor the experience with us to meet your special interests and needs.
    </p>
    <h5>Traffic Analytics</h5>
    <p>
      We use a number of third-party service providers, such as Google Analytics, to help analyze how users use the Service ("Analytics Companies"). These Analytics Companies uses Cookies to collect information such as how often users visit the Service, what features they use on our Services, and what other sites they used prior to coming to the Site. We use the information we get from these Analytics Companies only to improve our Site and Services. These Analytics Companies collect only the IP address assigned to you on the date you visit the Service, rather than your name or other personally identifying information. We do not combine the information generated through the use of our Analytics Companies with your personal information. Although these Analytics Companies may plant a persistent Cookie on your web browser or mobile device to identify you as a unique user the next time you visit the Service, the Cookie cannot be used by anyone but the Analytics Company that placed the applicable Cookie. This Policy does not apply to, and we are not responsible for the Cookies used by these Analytics Companies.
    </p>
    <h3>3 - Information Available Publicly</h3>
    <p>
      We do not make any information about you or your team available publicly.
    </p>
    <h3>4 - Transfer or Sale of Personal Data</h3>
    <p>
      We shall not sell, transfer or lease out your personal data to third parties.
    </p>
    <h3>5 - Safety</h3>
    <p>
      We reserve the right, at our sole discretion, to modify this Privacy policy or any portion thereof. Any changes will be effective from the time of publication of the new Privacy policy. Your use of the Website after the changes have been implemented implicitly expresses your acknowledgment and acceptance of the new Privacy policy. Otherwise, and if the new Privacy policy does not suit you, you must no longer use the Services.
    </p>
    <h3>6 - Modifications</h3>
    <p>
      We reserve the right, at our sole discretion, to modify this Privacy policy or any portion thereof. Any changes will be effective from the time of publication of the new Privacy policy. Your use of the Website after the changes have been implemented implicitly expresses your acknowledgment and acceptance of the new Privacy policy. Otherwise, and if the new Privacy policy does not suit you, you must no longer use the Services.
    </p>
    <p>
      If you have any questions or concerns or complaints about our Privacy Policy or our data collection or processing practices, or if you want to report any security violations to us, please <a href="https://twitter.com/dblockdotorg">message @dblockdotorg on Twitter</a> or e-mail <b>dblock[at]vestris[dot]com</b>.
    </p>
    <h3>7 - Data Retention</h3>
    <p>
      We keep your personal data only as long as necessary to provide you with the Service and for Vestris Inc. legitimate and essential business purposes, such as maintaining the performance of our Service, making data-driven business decisions about new features and offerings, complying with our legal obligations, and resolving disputes. After you no longer use our Service, we keep data for 7 years to comply with legal requirements.
    </p>
    <h3>8 - Data Access and Deletion Requests</h3>
    <p>
      You have a right to access the data we hold about you, get a copy of it, make us correct or amend the data we hold about you, ask us to delete, block, or suppress data we hold about you (though for legal reasons we may not always be able to do it), object to us using your data for certain purposes, such as direct marketing or research or statistical reasons, request transfer of your data to you or a third party, and withdraw any consent you've previously given us. If you need to exercise this right for any reason, please e-mail <b>dblock[at]vestris[dot]com</b>.
    </p>
  </div>
  <%= partial 'public/partials/_footer.html.erb' %>
</body>
</html>
