---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/auth.test
    body:
      encoding: UTF-8
      string: token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - identify
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"url":"https:\/\/rubybot.slack.com\/","team":"team_name","user":"user_name","team_id":"TDEADBEEF","user_id":"UBAADFOOD"}'
  recorded_at: Tue, 28 Apr 2015 12:55:22 GMT
- request:
    method: get
    uri: http://127.0.0.1:9293/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70364516652820'
  recorded_at: Sun, 03 Dec 2017 04:15:07 GMT
- request:
    method: post
    uri: http://127.0.0.1:4444/session
    body:
      encoding: UTF-8
      string: '{"desiredCapabilities":{"unexpectedAlertBehaviour":"ignore","moz:firefoxOptions":{}},"capabilities":{"firstMatch":[{"moz:firefoxOptions":{}}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value": {"sessionId":"2e57ed21-963c-814d-ab9a-4a628194c584","capabilities":{"acceptInsecureCerts":false,"browserName":"firefox","browserVersion":"56.0.2","moz:accessibilityChecks":false,"moz:headless":false,"moz:processID":65664,"moz:profile":"/var/folders/jb/4nf0kq0n64bdy26583zy6x740000gn/T/rust_mozprofile.GvEF2g345iKm","pageLoadStrategy":"normal","platformName":"darwin","platformVersion":"17.2.0","rotatable":false,"specificationLevel":0,"timeouts":{"implicit":0,"pageLoad":300000,"script":30000}}}}'
  recorded_at: Sun, 03 Dec 2017 04:15:11 GMT
- request:
    method: post
    uri: http://127.0.0.1:4444/session/2e57ed21-963c-814d-ab9a-4a628194c584/url
    body:
      encoding: UTF-8
      string: '{"url":"http://127.0.0.1:9293/?code=code"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value": {}}'
  recorded_at: Sun, 03 Dec 2017 04:15:11 GMT
- request:
    method: post
    uri: http://127.0.0.1:4444/session/2e57ed21-963c-814d-ab9a-4a628194c584/elements
    body:
      encoding: UTF-8
      string: '{"using":"css selector","value":"#messages"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":[{"element-6066-11e4-a52e-4f735466cecf":"fc78f2b8-1f1b-c146-8dfe-3450c3db8d55"}]}'
  recorded_at: Sun, 03 Dec 2017 04:15:11 GMT
- request:
    method: get
    uri: http://127.0.0.1:4444/session/2e57ed21-963c-814d-ab9a-4a628194c584/element/fc78f2b8-1f1b-c146-8dfe-3450c3db8d55/displayed
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":true}'
  recorded_at: Sun, 03 Dec 2017 04:15:11 GMT
- request:
    method: get
    uri: http://127.0.0.1:4444/session/2e57ed21-963c-814d-ab9a-4a628194c584/element/fc78f2b8-1f1b-c146-8dfe-3450c3db8d55/text
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":""}'
  recorded_at: Sun, 03 Dec 2017 04:15:11 GMT
- request:
    method: post
    uri: http://127.0.0.1:4444/session/2e57ed21-963c-814d-ab9a-4a628194c584/execute/sync
    body:
      encoding: UTF-8
      string: '{"script":"return arguments[0].textContent","args":[{"element-6066-11e4-a52e-4f735466cecf":"fc78f2b8-1f1b-c146-8dfe-3450c3db8d55"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value":"\n  "}'
  recorded_at: Sun, 03 Dec 2017 04:15:11 GMT
[...]
- request:
    method: delete
    uri: http://127.0.0.1:4444/session/2e57ed21-963c-814d-ab9a-4a628194c584/cookie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"value": {}}'
  recorded_at: Sun, 03 Dec 2017 04:15:12 GMT
[...]
- request:
    method: get
    uri: http://127.0.0.1:9293/__identify__
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '70160279562120'
  recorded_at: Wed, 28 Mar 2018 20:04:44 GMT
recorded_with: VCR 4.0.0
