---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: token=token&user=U0HLFUZLJ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: UTF-8
      string: '{"ok":true,"user":{"id":"U007","name":"username","deleted":false,"status":null,"color":"9f69e7","real_name":"","tz":"America\/Indiana\/Indianapolis","tz_label":"Eastern
        Daylight Time","tz_offset":-14400,"profile":{"real_name":"","real_name_normalized":"","email":"dblock@dblock.org","image_24":"https:\/\/secure.gravatar.com\/avatar\/3d925b45ac07ec0ae5bd04888f6c5b61.jpg?s=24&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0015-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/3d925b45ac07ec0ae5bd04888f6c5b61.jpg?s=32&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0015-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/3d925b45ac07ec0ae5bd04888f6c5b61.jpg?s=48&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0015-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/3d925b45ac07ec0ae5bd04888f6c5b61.jpg?s=72&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F3654%2Fimg%2Favatars%2Fava_0015-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/3d925b45ac07ec0ae5bd04888f6c5b61.jpg?s=192&d=https%3A%2F%2Fslack.global.ssl.fastly.net%2F272a%2Fimg%2Favatars%2Fava_0015.png"},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"has_files":false}}'
  recorded_at: Wed, 29 Apr 2015 16:10:34 GMT
- request:
    method: post
    uri: https://slack.com/api/users.conversations
    body:
      encoding: UTF-8
      string: exclude_archived=true&token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Accepted-Oauth-Scopes:
      - channels:read,read
      X-Slack-Req-Id:
      - 0deaed34-9421-4836-afa8-0f8d250fed7b
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ky3l
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C0HNSS6H5","name":"pong","is_channel":true,"created":1452005545,"is_archived":false,"is_general":false,"unlinked":0,"creator":"U04KB5WQR","name_normalized":"pong","is_shared":false,"is_org_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"","creator":"","last_set":0},"previous_names":[],"num_members":3}]}'
  recorded_at: Sun, 15 Apr 2018 20:20:32 GMT
- request:
    method: post
    uri: https://slack.com/api/conversations.members
    body:
      encoding: UTF-8
      string: channel=C0HNSS6H5&cursor&limit=100&token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - fa5f8bdf-0d8e-4793-943c-d6343e1b97d0
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-ontp
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":["U0H15MV1R","U0HLFUZLJ","U6HMJSC01"],"response_metadata":{"next_cursor":""}}'
  recorded_at: Sun, 15 Apr 2018 20:20:32 GMT
[...]
- request:
    method: post
    uri: https://slack.com/api/conversations.members
    body:
      encoding: UTF-8
      string: channel=C9Z892VGD&cursor&limit=100&token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - identify,bot:basic
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - 40fc15d6-7e0e-49e7-9563-1ca55d8cb9c7
      X-Slack-Backend:
      - h
      X-Via:
      - haproxy-www-v2r6
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":["U04KB5WQR","U6HMJSC01"],"response_metadata":{"next_cursor":""}}'
  recorded_at: Sun, 15 Apr 2018 20:20:33 GMT
recorded_with: VCR 4.0.0
