<p>
  <small>
    <a href="https://github.com/dblock/slack-strava" target="_blank">Fork me on github</a>, <a href="privacy.html">privacy policy</a>, <a href="help.html">help</a>, hosted on <a href="https://m.do.co/c/5b26011f9a9b">DigitalOcean</a><br>
    Questions? Contact dblock[at]vestris[dot]com or DM <a href='https://twitter.com/playplayio'>@playplayio</a>.
    <br><br>
    Written by <a href="https://twitter.com/dblockdotorg" target="_blank">@dblockdotorg</a>, <a href="https://www.vestris.com" target="_blank">&copy; Vestris LLC</a>.
  </small>
</p>
