---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/43749/activities?page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"986d16dc51e49db4c1d7bbb1a491a6c9"
      Status:
      - 200 OK
      Strava-Club-Activities-Version:
      - c17414b03c100cb44032372daa73e9bf/1524702135115
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '189,699'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"resource_state":2,"firstname":"micah","lastname":"M."},"name":"Hard as fuck run home — tired + lots of aches ","distance":9691.0,"moving_time":2666,"elapsed_time":3175,"total_elevation_gain":86.6,"type":"Run","workout_type":0}]'
  recorded_at: Thu, 26 Apr 2018 00:40:39 GMT
recorded_with: VCR 4.0.0
