---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/43749/activities?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"af9b374f24e49379b56f36ad0a397c5a"
      Status:
      - 200 OK
      Strava-Club-Activities-Version:
      - fef8bb343c28a3f5aa48961502729f7f/1524703316916
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '207,717'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"resource_state":2,"firstname":"micah","lastname":"M."},"name":"Hard as fuck run home — tired + lots of aches ","distance":9691.0,"moving_time":2666,"elapsed_time":3175,"total_elevation_gain":86.6,"type":"Run","workout_type":0},{"resource_state":2,"athlete":{"resource_state":2,"firstname":"liz","lastname":"P."},"name":"Evening Run","distance":1610.4,"moving_time":560,"elapsed_time":574,"total_elevation_gain":2.6,"type":"Run","workout_type":null},{"resource_state":2,"athlete":{"resource_state":2,"firstname":"Marc","lastname":"R."},"name":"Evening Run","distance":9509.1,"moving_time":3469,"elapsed_time":3469,"total_elevation_gain":0.0,"type":"Run","workout_type":null},{"resource_state":2,"athlete":{"resource_state":2,[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/43749/activities?page=2&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"af9b374f24e49379b56f36ad0a397c5a"
      Status:
      - 200 OK
      Strava-Club-Activities-Version:
      - fef8bb343c28a3f5aa48961502729f7f/1524703316916
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '207,717'
    body:
      encoding: ASCII-8BIT
      string: '[]'
  recorded_at: Thu, 26 Apr 2018 00:41:58 GMT
recorded_with: VCR 4.0.0
