---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/clubs?access_token=token&page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a53d11d0c55d662edfeffb656ced3536"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '241,17821'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":108605,"resource_state":2,"name":"New York Road Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/small.jpg","sport_type":"running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":9131,"featured":false,"verified":true,"url":"nyrr"},{"id":43749,"resource_state":2,"name":"Orchard
        Street Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/small.jpg","sport_type":"running","city":"New
    [...]
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=dc6zaTOxFJmzC&tag=error
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"U66k57wdrSfAI","slug":"cat-error-U66k57wdrSfAI","url":"https:\/\/giphy.com\/gifs\/cat-error-U66k57wdrSfAI","bitly_gif_url":"http:\/\/gph.is\/1TrXOLo","bitly_url":"http:\/\/gph.is\/1TrXOLo","embed_url":"https:\/\/giphy.com\/embed\/U66k57wdrSfAI","username":"","source":"http:\/\/www.reddit.com\/r\/gif\/comments\/3vjrw4\/cat_404_error\/","content_url":"","source_tld":"www.reddit.com","source_post_url":"http:\/\/www.reddit.com\/r\/gif\/comments\/3vjrw4\/cat_404_error\/","is_sticker":0,"import_datetime":"2015-12-05
        15:38:32","trending_datetime":"0000-00-00 00:00:00","images":{"fixed_height_still":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200_s.gif","width":"221","height":"200"},"original_still":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy_s.gif","width":"363","height":"329"},"fixed_width":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200w.gif","width":"200","height":"181","size":"3779622","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200w.mp4","mp4_size":"108668","webp":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200w.webp","webp_size":"1895818"},"fixed_height_small_still":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100_s.gif","width":"110","height":"100"},"fixed_height_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200_d.gif","width":"221","height":"200","size":"194578","webp":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200_d.webp","webp_size":"92326"},"preview":{"width":"222","height":"200","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-preview.mp4","mp4_size":"29290"},"fixed_height_small":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100.gif","width":"110","height":"100","size":"1299202","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100.mp4","mp4_size":"43424","webp":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100.webp","webp_size":"706460"},"downsized_still":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-downsized_s.gif","width":"250","height":"226","size":"47254"},"downsized":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-downsized.gif","width":"250","height":"226","size":"1252617"},"downsized_large":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-downsized-large.gif","width":"363","height":"329","size":"7095131"},"fixed_width_small_still":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100w_s.gif","width":"100","height":"91"},"preview_webp":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-preview.webp","width":"121","height":"110","size":"48686"},"fixed_width_still":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200w_s.gif","width":"200","height":"181"},"fixed_width_small":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100w.gif","width":"100","height":"91","size":"1103556","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100w.mp4","mp4_size":"39086","webp":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100w.webp","webp_size":"617516"},"downsized_small":{"width":"222","height":"202","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-downsized-small.mp4","mp4_size":"144359"},"fixed_width_downsampled":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200w_d.gif","width":"200","height":"181","size":"161934","webp":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200w_d.webp","webp_size":"77666"},"downsized_medium":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-downsized-medium.gif","width":"290","height":"263","size":"4605878"},"original":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy.gif","width":"363","height":"329","size":"9792333","frames":"172","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy.mp4","mp4_size":"847460","webp":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy.webp","webp_size":"6433762"},"fixed_height":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200.gif","width":"221","height":"200","size":"4572677","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200.mp4","mp4_size":"122121","webp":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200.webp","webp_size":"2222048"},"looping":{"mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-loop.mp4","mp4_size":"2611744"},"original_mp4":{"width":"480","height":"434","mp4":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy.mp4","mp4_size":"847460"},"preview_gif":{"url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy-preview.gif","width":"90","height":"82","size":"48942"},"480w_still":{"url":"U66k57wdrSfAI\/480w_s.jpg","width":"480","height":"435"}},"title":"cat
        error GIF","image_original_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy.gif","image_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy.gif","image_mp4_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/giphy.mp4","image_frames":"172","image_width":"363","image_height":"329","fixed_height_downsampled_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200_d.gif","fixed_height_downsampled_width":"221","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"181","fixed_height_small_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100.gif","fixed_height_small_still_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100_s.gif","fixed_height_small_width":"110","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100w.gif","fixed_width_small_still_url":"https:\/\/media0.giphy.com\/media\/U66k57wdrSfAI\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"91","caption":""},"meta":{"status":200,"msg":"OK","response_id":"5ae216c93045565163300a49"}}'
  recorded_at: Thu, 26 Apr 2018 18:13:29 GMT
recorded_with: VCR 4.0.0
