---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/clubs?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a53d11d0c55d662edfeffb656ced3536"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '241,17821'
    body:
      encoding: ASCII-8BIT
      string: '[{"id":108605,"resource_state":2,"name":"New York Road Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/8433029/1/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/108605/5794562/3/small.jpg","sport_type":"running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":9131,"featured":false,"verified":true,"url":"nyrr"},{"id":43749,"resource_state":2,"name":"Orchard
        Street Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/small.jpg","sport_type":"running","city":"New
    [...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/clubs?page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a53d11d0c55d662edfeffb656ced3536"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '241,17821'
    body:
      encoding: ASCII-8BIT
      string: '[]'
  recorded_at: Thu, 26 Apr 2018 17:59:27 GMT
recorded_with: VCR 4.0.0
