---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=client_id&client_secret=client_secret&grant_type=refresh_token&refresh_token=refresh_token
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      Etag:
      - W/"290c49f531c1ba942278dc291411a243"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"updated-access-token","expires_at":1540695554,"refresh_token":"updated-refresh-token"}'
  recorded_at: Sat, 27 Oct 2018 21:51:44 GMT
recorded_with: VCR 4.0.0
