---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/clubs/43749
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"346ff43068189b43e793199688a5ac7f"
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '70,20671'
    body:
      encoding: ASCII-8BIT
      string: '{"id":43749,"resource_state":3,"name":"Orchard Street Runners","profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/1121181/4/large.jpg","cover_photo":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/large.jpg","cover_photo_small":"https://dgalywyr863hv.cloudfront.net/pictures/clubs/43749/8867279/3/small.jpg","sport_type":"running","city":"New
        York","state":"New York","country":"United States","private":false,"member_count":146,"featured":false,"verified":false,"url":"OrchardStreetRunners","membership":"member","admin":false,"owner":false,"description":"www.orchardstreetrunners.com","club_type":"casual_club","post_count":0,"owner_id":27742114,"following_count":13}'
  recorded_at: Wed, 25 Apr 2018 20:03:33 GMT
recorded_with: VCR 4.0.0
