---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=&client_secret=&code=code
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"663b7e4906a00b9f86a4cedf49a13da3"
      Status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"token","token_type":"Bearer","refresh_token":"refresh-token","expires_at":1531378346,"athlete":{"id":12345,"username":"username","resource_state":2,"firstname":"Hussein","lastname":"Bolt","city":"","state":"","country":"","sex":"M","premium":false,"created_at":"2017-11-28T19:05:35Z","updated_at":"2018-03-18T16:05:05Z","badge_type_id":0,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345/7677115/1/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/12345/7677115/1/large.jpg","friend":null,"follower":null,"email":"hussein@example.org"}}'
  recorded_at: Thu, 29 Mar 2018 16:40:55 GMT
recorded_with: VCR 4.0.0
