---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1517443200&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"e166ce7490583b197964e3aba5b198d0"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - fb57d7ed2855de15116459e32e4c9f62
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '27,3070'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Sponge
        worthy ","distance":12153.9,"moving_time":3767,"elapsed_time":3770,"total_elevation_gain":96.5,"type":"Run","workout_type":0,"id":1392228282,"external_id":"1B9216F0-43B6-4B8A-8779-01446DF336F4","upload_id":1502339634,"start_date":"2018-02-04T21:56:56Z","start_date_local":"2018-02-04T16:56:56Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[40.682815,-73.914802],"end_latlng":[40.733786,-73.985987],"location_city":null,"location_state":null,"location_country":null,"start_latitude":40.682815,"start_longitude":-73.914802,"achievement_count":10,"kudos_count":1,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1392228282","summary_polyline":"qzhwFpncbMkN\\yEbI{b@|~@qCpLobAjnBUtHqOr`@mKjd@oG`L{Mnb@s`@nqBhIk`@rEeL`AeJcBa@TqEm[kKoz@wJ{DpAyHxIoEBgTpq@OtAfI~E`EdHwAvF","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":null,"from_accepted_tag":false,"average_speed":3.226,"max_speed":8.1,"has_heartrate":false,"elev_high":33.7,"elev_low":-7958.2,"pr_count":3,"total_photo_count":3,"has_kudoed":false},{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Just
        before it rained!","distance":14991.9,"moving_time":4397,"elapsed_time":4467,"total_elevation_gain":84.4,"type":"Run","workout_type":0,"id":1401038956,"external_id":"CAF8521A-4C87-435F-AB87-920499D37935","upload_id":1511870867,"start_date":"2018-02-10T15:57:36Z","start_date_local":"2018-02-10T10:57:36Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":[40.737417,-73.[...]
[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1517443200&page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"40809774d3e325884c34ded73f361308"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - fb57d7ed2855de15116459e32e4c9f62
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '28,3071'
    body:
      encoding: ASCII-8BIT
      string: '[]'
  recorded_at: Wed, 05 Dec 2018 18:44:38 GMT
recorded_with: VCR 4.0.0
