---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1522022400&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"a570dd7d146e2948a9c192362086fcbb"
      X-Ratelimit-Usage:
      - '3,2696'
      Strava-Athlete-Upload-Version:
      - e12ee5738a5b2ae76111a4395151fc51
    body:
      encoding: UTF-8
      string: '[{"resource_state":2,"athlete":{"id":29323238,"resource_state":1},"name":"Public
        Activity","distance":1609.3,"moving_time":3600,"elapsed_time":3600,"total_elevation_gain":3.0,"type":"Run","workout_type":0,"id":1991813808,"external_id":null,"upload_id":null,"start_date":"2018-11-29T21:20:00Z","start_date_local":"2018-11-29T16:20:00Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":null,"end_latlng":null,"location_city":null,"location_state":null,"location_country":"United
        States","start_latitude":null,"start_longitude":null,"achievement_count":0,"kudos_count":1,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1991813808","summary_polyline":null,"resource_state":2},"trainer":false,"commute":false,"manual":true,"private":false,"visibility":"everyone","flagged":false,"gear_id":"g3844087","from_accepted_tag":null,"average_speed":0.447,"max_speed":0.0,"has_heartrate":false,"heartrate_opt_out":false,"display_hide_heartrate_option":false,"pr_count":0,"total_photo_count":0,"has_kudoed":false},{"resource_state":2,"athlete":{"id":29323238,"resource_state":1},"name":"Private
        Activity","distance":42000.0,"moving_time":13320,"elapsed_time":13320,"total_elevation_gain":37.5,"type":"Run","workout_type":null,"id":1994662431,"external_id":null,"upload_id":null,"start_date":"2018-12-01T15:30:00Z","start_date_local":"2018-12-01T10:30:00Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-18000.0,"start_latlng":null,"end_latlng":null,"location_city":null,"location_st[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1522022400&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"4f53cda18c2baa0c0354bb5f9a3ecbe5"
      X-Ratelimit-Usage:
      - '4,2697'
      Strava-Athlete-Upload-Version:
      - f19123a56b0de246d0b3ed9976c7eb95
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 25 Jun 2020 13:15:31 GMT
recorded_with: VCR 5.1.0
