---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/activities?access_token=token&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"28cb9cfa5b8389f4ba022888b9d6974a"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - fb57d7ed2855de15116459e32e4c9f62
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '17,2993'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Reservoir
        Dogs","distance":10782.1,"moving_time":3423,"elapsed_time":3435,"total_elevation_gain":11.3,"type":"Run","workout_type":0,"id":1484119264,"external_id":"2C04801D-298C-4EC1-9430-9BE074BC45C3","upload_id":1599003900,"start_date":"2018-04-01T16:58:34Z","start_date_local":"2018-04-01T12:58:34Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"start_latlng":[40.782474,-73.96003],"end_latlng":[40.782216,-73.962644],"location_city":null,"location_state":null,"location_country":"","start_latitude":40.782474,"start_longitude":-73.96003,"achievement_count":27,"kudos_count":3,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1484119264","summary_polyline":"mi|wFdilbMi@`BaWqP}J_AoBpB|@vIiBbIjDrFf@jRnDnCpK|@hDiD`DkLrGmENaIsZwSsMDy@~Tx@hDdBl@^zR`CnChNhBrEgIe@jDeDjDgDs@nF}@bFkOdG{D\\mHqZqTmJ{@sBrBn@tKcB~EhDtFDjNjBdF~OdCtGaQrGiEp@mGaAkCcWoPsNmAq@zCz@nGaB~HbC~Hf@hO|BrBhOxBrHcSjGcD","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":null,"from_accepted_tag":false,"average_speed":3.15,"max_speed":4.4,"has_heartrate":false,"elev_high":37.1,"elev_low":33.1,"pr_count":9,"total_photo_count":2,"has_kudoed":false}]'
  recorded_at: Tue, 03 Apr 2018 12:48:41 GMT
recorded_with: VCR 4.0.0
