---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1522022400&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a20e2e73a5c4b99532f760a77d0909a1"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 1cda7bba5706f5f18649dbcfc99656c4
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '191,3326'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":14784454,"resource_state":1},"name":"Morning
        Ride","distance":104066.0,"moving_time":17563,"elapsed_time":26686,"total_elevation_gain":1127.9,"type":"Ride","workout_type":10,"id":1508546771,"external_id":"3f99ed3aaea41f4ce6c0e1489c2c68fa","upload_id":1624383151,"start_date":"2018-04-14T11:12:15Z","start_date_local":"2018-04-14T07:12:15Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"start_latlng":[40.712846,-73.958514],"end_latlng":[41.266149,-73.935399],"location_city":null,"location_state":null,"location_country":"","start_latitude":40.712846,"start_longitude":-73.958514,"achievement_count":71,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1508546771","summary_polyline":"gvnwFv_lbMuTxm@kp@as@_aAhCkBsb@iQlA{~@_UtCk[cVkQnAsGqs@~xBoFfNjAyDcEKiWxeAeRf@_\\u]wG|Cgi@e^_DmTmZiScVUab@{WqB~Mw_@ea@uF~Myv@uAyh@rr@zKGmBxGsiAaeAgt@mNgVsSzA}Jkm@_TiI|OqYddC|f@vK~CoDuCmFca@ySam@kK{[i\\y|@if@_l@_GwR_Ri|Bs|@}fEm{@yXeOwvAqDqG|FwjCan@{w@eEwk@bRwTaVgNeByXf]kU}Psb@qAkfA~\\cKfPqFp\\oSkN{^qk@i\\fEfBaM^tJeJdEe_CfTyfGeXsTp_Aqi@q@ws@cVcd@zKmc@v_@iw@cNuxAXgj@be@mKh[mLvI_ClZwJ~D{TqJm`@rbAg_@t_@fBiQe]fT_a@xd@VrKuSz[}GiFyRrO{T{Hg@mN{RbBsMsX{d@lGcCcTeS}GaMl~@}b@zUqFjl@gj@h@wj@jRwj@}Lqf@a`@kQLap@ed@ed@cOgVwx@up@cd@}Zri@nA`j@gOxn@qBfi@kkA~C_m@bSjKvDhC_Gee@bPwCaHZy~@po@qs@cF{KtBgW~SzLvO_HjP}b@iDe`@dCwNpa@qOiB}h@dKkt@fFkEbPlLtK_ZxRyNp`Ahu@|j@FpYeM","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":null,"from_accepted_tag":false,"average_speed":5.925,"max_speed":19.2,"average_watts":107.7,"kilojoules":1891.9,"device_watts":false,"has_heartrate":false,"elev_high":166.0,"elev_low":-2.2,"pr_count":25,"total_photo_count":0,"has_kudoed":false},{"resource_state":2,"athlete":{"id":14784454,"resource_state":1},"name":"Bk","distance":81836.1,"moving_time":13027,"elapsed_time":15008,"total_elevation_gain":284.8,"type":"Ride","workout_type":10,"id":1525401679,"external_id":"d2901e8bf4d3c3de616322e047c9a375","upload_id":1641931470,"start_date":"2018-04-22T13:17:53Z","start_date_local":"2018-04-22T09:17:53Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"start_latlng":[40.712661,-73.960535],"end_latlng":[40.71[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1522022400&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"a20e2e73a5c4b99532f760a77d0909a1"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 1cda7bba5706f5f18649dbcfc99656c4
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '191,3326'
    body:
      encoding: ASCII-8BIT
      string: '[]'
  recorded_at: Tue, 08 May 2018 02:54:34 GMT
recorded_with: VCR 4.0.0
