---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3//athlete/activities?access_token=token&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"97766d3024f6b45b03236ce034d145c5"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - 1cda7bba5706f5f18649dbcfc99656c4
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '96,3519'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":14784454,"resource_state":1},"name":"Morning
        Ride","distance":125458.0,"moving_time":16944,"elapsed_time":38882,"total_elevation_gain":484.6,"type":"Ride","workout_type":10,"id":1555582184,"external_id":"4c01fde301dcc65649b65e5bc5089a51","upload_id":1673091738,"start_date":"2018-05-06T12:29:52Z","start_date_local":"2018-05-06T08:29:52Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"start_latlng":[41.420228,-73.955044],"end_latlng":[40.713152,-73.958927],"location_city":null,"location_state":null,"location_country":"","start_latitude":41.420228,"start_longitude":-73.955044,"achievement_count":0,"kudos_count":0,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1555582184","summary_polyline":"k{x{F`jkbM`NmWB}NeA_CqA_YvY_c@ny@ud@ya@mhBeOy[}AMw^_jAgq@cqCeOm[vOkMcBViAwk@_TuaArwBuZlFbB~EvGs@_E`Guu@LaWnFzge@eEcIpUlaM}uAi}ZluhChF","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":true,"flagged":false,"gear_id":null,"from_accepted_tag":false,"average_speed":7.404,"max_speed":52.2,"average_watts":59.5,"kilojoules":1008.7,"device_watts":false,"has_heartrate":false,"elev_high":377.3,"elev_low":10.4,"pr_count":0,"total_photo_count":0,"has_kudoed":false}]'
  recorded_at: Tue, 08 May 2018 03:05:03 GMT
recorded_with: VCR 4.0.0
