---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1522022400&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"95c56d0a96c304c4e42c5e47e3510a97"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - fb57d7ed2855de15116459e32e4c9f62
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '5,3048'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"Restarting
        the Engine","distance":11127.8,"moving_time":3703,"elapsed_time":3729,"total_elevation_gain":33.7,"type":"Run","workout_type":0,"id":1473024961,"external_id":"CD27AD17-B595-4548-BB54-3F685E77A81F","upload_id":1587458260,"start_date":"2018-03-26T13:57:15Z","start_date_local":"2018-03-26T09:57:15Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"start_latlng":[40.731156,-74.006854],"end_latlng":[40.731874,-74.005265],"location_city":null,"location_state":null,"location_country":"","start_latitude":40.731156,"start_longitude":-74.006854,"achievement_count":13,"kudos_count":3,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1473024961","summary_polyline":"uhrwFzmubMt@xAg@rP{OMsAnJQaF}]qAqH_Eym@_HqEfJcEeEyZkIck@u^iGgEsA}GsFwEz@n@kFwBiAtD|@iD~Bv@cRgMx[zS~C|GfIjHjn@l`@bQ~Ee@dCjBqBfH`EfAeFvHhAjC{K`HlFrWfEpI~Dng@^sA_WfB_@@qExBe@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":null,"from_accepted_tag":false,"average_speed":3.005,"max_speed":7.6,"has_heartrate":false,"elev_high":10.2,"elev_low":-3.2,"pr_count":1,"total_photo_count":0,"has_kudoed":false},{"resource_state":2,"athlete":{"id":26462176,"resource_state":1},"name":"First
        Time Breaking 14","distance":22539.6,"moving_time":7586,"elapsed_time":7686,"total_elevation_gain":144.9,"type":"Run","workout_type":0,"id":1477353766,"external_id":"A0254694-2A56-49FE-BACE-97CE937D748D","upload_id":1591925390,"start_date":"2018-03-28T23:51:34Z","start_date_local":"2018-03-28T19:51:34Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"start_latlng":[40.682943,-73[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/1473024961
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '600,30000'
      Etag:
      - W/"f1c36923449cf83d9bbcb8f5c22a3e52"
      X-Ratelimit-Usage:
      - '10,12470'
    body:
      encoding: ASCII-8BIT
      string: '{"resource_state":3,"athlete":{"id":26462176,"resource_state":1},"name":"Restarting
        the Engine","distance":11127.8,"moving_time":3703,"elapsed_time":3729,"total_elevation_gain":33.7,"type":"Run","workout_type":null,"id":1473024961,"external_id":"CD27AD17-B595-4548-BB54-3F685E77A81F","upload_id":1587458260,"start_date":"2018-03-26T13:57:15Z","start_date_local":"2018-03-26T09:57:15Z","timezone":"(GMT-05:00)
        America/New_York","utc_offset":-14400.0,"start_latlng":[40.73,-74.01],"end_latlng":[40.73,-74.01],"location_city":null,"location_state":null,"location_country":"","start_latitude":40.73,"start_longitude":-74.01,"achievement_count":13,"kudos_count":3,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a1473024961","polyline":"uhrwFzmubMj@TBBCTHh@EbAKf@It@?~@AFF`AO|@?\\Ez@?\\Hz@ETWBOAOFe@Bm@CODY?e@FiBU]Ca@Bk@Kc@@_@Ge@@CFBr@CHUFIXEZCz@@ZKpBFFGLQBIFG?GCAOBq@?kABq@?GBQKCs@E]Gi@?g@COC]?GC}AIGCa@BUGy@?QAGCk@@ECaB?QEOBe@?o@EU?}@KI?KBEC[BEG[@s@Gc@?QSSIMKc@KYQS?_@KCEa@Ug@c@KM_@WQEg@AOEMAWK{@IEC[CEE]ACCYIeAMIIi@GYIW?y@KOGUAQIUAWIMAkADm@M[Ac@@CEOCm@COEOBOAYI_BWG@u@IS?OC}@?aAUu@C_@Fq@Ka@Ou@IYIKAIDMRK\\UNCFGZ?r@BN[f@_AhCCDI@Y?e@ScASIEIIESOkAKQc@[SEm@Bu@Cs@BkAUYMi@OIIq@MSMICIEOCIEYGEEy@MyA]u@_@QM_@k@c@SG?qAy@GCUNGECWUYi@a@SKa@]gA[...]
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?after=1522022400&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"95c56d0a96c304c4e42c5e47e3510a97"
      Status:
      - 200 OK
      Strava-Athlete-Upload-Version:
      - fb57d7ed2855de15116459e32e4c9f62
      X-Ratelimit-Limit:
      - '600,30000'
      X-Ratelimit-Usage:
      - '5,3048'
    body:
      encoding: ASCII-8BIT
      string: '[]'
  recorded_at: Sun, 11 Nov 2018 22:33:22 GMT
recorded_with: VCR 4.0.0
